name: My First CI

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show file
        run: ls -la

      - name: Login in docker hub
        uses: docker/login-action@v3
        with: 
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: . 
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/test:latest

      - name: Docker Run Image
        run: docker run ${{ secrets.DOCKERHUB_USERNAME }}/test:latest
        
      - name: Show Usage
        run: df -h
        
