name: My First CI

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show file
        run: ls -la

      - name: Fake Test
        run: |
             echo "running fake test....."
             sleep 3
             echo "all test passed"

      - name: Show Usage
        run: df -h
        
